<!DOCTYPE html>
<html lang="en">

<head>
	<title>Meetup Home</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'webapp/css/bootstrap.min.css' %}" type = "text/css"/>
	<link rel="stylesheet" href="{% static 'webapp/css/test.css' %}" type="text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">

	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
</head>

<body class="body">
	<header class="container">
		<nav class="navbar navbar-default">
  		<div class="container-fluid">
    		<!-- Brand and toggle get grouped for better mobile display -->
    		<div class="navbar-header">
      		<a class="navbar-brand" href="/">Meetup</a>
    		</div>

    		<!-- Collect the nav links, forms, and other content for toggling -->
    		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      		<ul class="nav navbar-nav navbar-right">
        		<li><a href="/">Create New Meetup</a></li>
						<li><a href="/join">Join Meetup</a></li>
      		</ul>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
	</header>




	<div>
		{% block content %}
		{% endblock %}
	</div>
	{% load staticfiles %}
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<script src="https://www.gstatic.com/firebasejs/3.6.5/firebase.js"></script>
	<script src="{% static 'webapp/js/userScript.js' %}"></script>
</body>

</html>
